###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/apps/my-symfony-app/public/bundles/
/apps/my-symfony-app/var/
/apps/my-symfony-app/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/apps/my-symfony-app/.web-server-pid
###< symfony/web-server-bundle ###
/storage/

#phpstorm files
/.idea

# Ignore Doctrine migration version files
/apps/my-symfony-app/migrations/*