{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{ last_username }}" required autofocus />
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required />
        </div>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
