{% extends 'base.html.twig' %}

{% block title %}Admin - Tableau de bord{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <p>Bienvenue dans l'espace admin.</p>
    <p><a href="{{ path('logout') }}">Se déconnecter</a></p>
{% endblock %}
